<launch>
  <arg name="do_gazebo" default="0" />
  <arg name="do_viz" default="0" />

  <arg name="clearance" default="0" />
  <arg name="minor_wheel_speed" default="50" />
  <arg name="major_wheel_speed" default="100" />

  <arg name="tb_model" default="burger" />
  <arg name="tb_pos_x" default="0.0"/>
  <arg name="tb_pos_y" default="0.0"/>
  <arg name="tb_pos_z" default="0.0"/>
  <arg name="tb_model_spawn_delay_s" default="0.5" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg do_gazebo)">
    <arg name="world_name" value="$(find nhr_sim)/world/map.world" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
  </include>

  <param
    name="robot_description"
    command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg tb_model).urdf.xacro"
    if="$(arg do_gazebo)" />

  <rosparam>
    /nhr/robot_description/r: 0.038
    /nhr/robot_description/L: 0.354
  </rosparam>

  <node
    name="nhr_planner"
    pkg="nhr_control"
    type="Planner.py"
    args="$(arg clearance) $(arg minor_wheel_speed) $(arg major_wheel_speed)"
    output="screen" />
  <node
    name="spawn_turtlebot_urdf"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -model turtlebot3_$(arg tb_model) -x $(arg tb_pos_x) -y $(arg tb_pos_y) -z $(arg tb_pos_z) -param robot_description"
    output="screen"
    launch-prefix="bash -c 'sleep $(arg tb_model_spawn_delay_s); $0 $@'"
    if="$(arg do_gazebo)" />
  <node
    name="nhr_visualizer"
    pkg="nhr_control"
    type="Visualizer.py"
    output="screen"
    if="$(arg do_viz)" />
</launch>
